Options -Indexes

AuthType Digest

AuthName "'SHS'"
AuthUserFile /var/www/EELex/shs_users/shs_digest_users.txt
AuthGroupFile /var/www/EELex/shs_users/shs_groups.txt

<Files login.cgi>
    Require valid-user
</Files>

<Files halda.cgi>
    Require group grp_PTD
</Files>

<Files admhalda.cgi>
    Require group grp_DEV
</Files>

<Files ~ "\.pm$">
    Require group grp_DEV
</Files>

<Files tooplaan.xls>
    Require group grp_DEV
</Files>
