.enmx {background-color:darkgray;border:black 1px solid;padding:0 3;}
.enx1 {font-weight:bold;}
.et {background-color:white;border:black 1px solid;}
.at {background-color:MistyRose;border:black 1px solid;}
.atmx {background-color:MistyRose;color:black;border:1px solid black;}
.ct {color:white;background-color:deepskyblue;}
.ec {color:red;}
.delatt {background-color:Coral;width:2mm}
.etws {display:block;width:100%;}
.et_x-m_120_58_109 {font-family:Arial;color:maroon;font-weight:bold;}
.et_x-m {font-family:Arial;color:maroon;font-weight:bold;}
.et_x-r_120_58_114 {background-color:turquoise;}
.et_x-r {background-color:turquoise;}
.et_x-v_120_58_118 {font-variant:small-caps;}
.et_x-v {font-variant:small-caps;}
.et_x-s_120_58_115 {font-variant:small-caps;}
.et_x-s {font-variant:small-caps;}
.et_x-mvt_120_58_109_118_116 {color:darkorange;font-weight:bold;}
.et_x-mvt {color:darkorange;font-weight:bold;}
.et_x-d_120_58_100 {color:green;font-style:italic;}
.et_x-d {color:green;font-style:italic;}
.et_x-x_120_58_120 {color:red;}
.et_x-x {color:red;}
.et_x-n_120_58_110 {color:blue;}
.et_x-n {color:blue;}
.et_x-nd_120_58_110_100 {color:green;font-style:italic;}
.et_x-nd {color:green;font-style:italic;}
.et_x-qn_120_58_113_110 {color:red;}
.et_x-qn {color:red;}
.et_x-tvt_120_58_116_118_116 {color:darkorange;font-weight:bold;}
.et_x-tvt {color:darkorange;font-weight:bold;}
.et_x-kom_120_58_107_111_109 {color:blue;font-weight:bold;}
.et_x-kom {color:blue;font-weight:bold;}
.et_x-kaut_120_58_107_97_117_116 {font-size:x-small;}
.et_x-kaut {font-size:x-small;}
.et_x-kaeg_120_58_107_97_101_103 {font-size:x-small;}
.et_x-kaeg {font-size:x-small;}
