.lingike {text-decoration:underline;color:blue;background-color:cyan;cursor:pointer;}
.atvw_x_A_x_AS_65_83, .atvw_x_A_x_AS {background-color:olive;}
.etvw_x_m_109, .etvw_x_m {font-weight:bold;font-family:Arial;}
.atvw_x_m_x_i_105, .atvw_x_m_x_i {font-weight:bold;vertical-align:super;}
.etvw_x_r_114, .etvw_x_r {font-style:italic;}
.etvw_x_hld_104_108_100, .etvw_x_hld {font-style:italic;}
.etvw_x_vk_118_107, .etvw_x_vk {font-style:italic;}
.etvw_x_mt_109_116, .etvw_x_mt {font-style:italic;}
.etvw_x_sl_115_108, .etvw_x_sl {font-style:italic;}
.etvw_x_v_118, .etvw_x_v {font-variant:small-caps;}
.atvw_x_v_x_l_108, .atvw_x_v_x_l {font-style:italic;}
.etvw_x_s_115, .etvw_x_s {font-variant:small-caps;}
.atvw_x_a_x_i_105, .atvw_x_a_x_i {vertical-align:super;}
.atvw_x_mvt_x_i_105, .atvw_x_mvt_x_i {vertical-align:super;}
.atvw_x_tp_x_tnr_116_110_114, .atvw_x_tp_x_tnr {font-weight:bold;}
.etvw_x_mm_109_109, .etvw_x_mm {font-weight:bold;}
.atvw_x_dt_x_i_105, .atvw_x_dt_x_i {vertical-align:super;}
.etvw_x_d_100, .etvw_x_d {font-style:italic;}
.etvw_x_xr_120_114, .etvw_x_xr {font-style:italic;}
.etvw_x_xvk_120_118_107, .etvw_x_xvk {font-style:italic;}
.etvw_x_xmt_120_109_116, .etvw_x_xmt {font-style:italic;}
.etvw_x_xsl_120_115_108, .etvw_x_xsl {font-style:italic;}
.etvw_x_xz_120_122, .etvw_x_xz {font-style:italic;}
.etvw_x_xgki_120_103_107_105, .etvw_x_xgki {font-style:italic;}
.etvw_x_xv_120_118, .etvw_x_xv {font-variant:small-caps;}
.etvw_x_xs_120_115, .etvw_x_xs {font-variant:small-caps;}
.etvw_x_xd_120_100, .etvw_x_xd {font-style:italic;}
.etvw_x_n_110, .etvw_x_n {font-weight:bold;font-style:italic;}
.etvw_x_nd_110_100, .etvw_x_nd {font-style:italic;}
.atvw_x_tvt_x_i_105, .atvw_x_tvt_x_i {vertical-align:super;}
.atvw_x_tvt_x_tvtl_116_118_116_108, .atvw_x_tvt_x_tvtl {font-style:italic;}
.etvw_x_LS_76_83, .etvw_x_LS {font-weight:bold;}
.atvw_x_LS_x_lso_108_115_111, .atvw_x_LS_x_lso {text-decoration:underline;}
.etvw_x_lsd_108_115_100, .etvw_x_lsd {font-style:italic;}
.etvw_x_KOM_75_79_77, .etvw_x_KOM {background-color:silver;}
.etvw_x_kom_107_111_109, .etvw_x_kom {color:blue;}
.etvw_x_kaut_107_97_117_116, .etvw_x_kaut {font-size:x-small;}
.etvw_x_kaeg_107_97_101_103, .etvw_x_kaeg {font-size:x-small;}
.etvw_x_maht_109_97_104_116, .etvw_x_maht {background-color:aqua;}
.etvw_x_xtx_120_116_120, .etvw_x_xtx {font-style:italic;}
