.atvw_i, .atvw_tnr {font-weight:bold;}
.atvw_mvtl, .atvw_tvtl {font-size:x-small;}
.atvw_tvtl {font-style:italic;}
.etvw_m {font-family:'Arial';font-weight:bold;}
.etvw_a {font-family:'Arial';}
.etvw_vk, .etvw_gki, .etvw_sl, .etvw_sly, .etvw_rk, .etvw_v, .etvw_s {font-style:italic;}
.etvw_dt, .etvw_d, .etvw_nd, .etvw_lsd, .etvw_r {font-style:italic;}
.etvw_n {font-weight:bold;font-style:italic;}
.etvw_kom {color:Blue;}
