.en:first-letter {text-transform:uppercase;}
.enmx {background-color:darkgray;border:black 1px solid;padding:0 3;}
.enx1 {font-weight:bold;}
.et {background-color:white;border:black 1px solid;font-family:'Arial Unicode MS';}
.etl1 {background-color:white;border:black 1px solid;font-family:'Arial Unicode MS';}
.at {background-color:white;border:black 1px solid;font-family:'Arial Unicode MS';}
.atmx {background-color:silver;border:1px solid black;}
.ct {color:white;background-color:deepskyblue;width:100%;}
.ec {color:gray;}
.etws {width:100%;}
.en_x-P_120_58_80 {font-weight:bold;text-transform:uppercase;}
.en_x-mg_120_58_109_103 {font-weight:bold;text-decoration:underline;}
.et_x-m_120_58_109 {color:maroon;font-weight:bold;}
.et_x-r_120_58_114 {background-color:turquoise;}
.en_x-grp_120_58_103_114_112 {font-weight:bold;}
.en_x-mfp_120_58_109_102_112 {text-decoration:underline;}
.en_x-mkg_120_58_109_107_103 {text-decoration:underline;}
.en_x-mvg_120_58_109_118_103 {text-decoration:underline;}
.en_x-gri_120_58_103_114_105 {font-weight:bold;}
.et_x-v_120_58_118 {font-size:x-small;text-transform:uppercase;}
.et_x-s_120_58_115 {font-size:x-small;text-transform:uppercase;}
.et_x-mvt_120_58_109_118_116 {color:darkorange;font-weight:bold;}
.en_x-S_120_58_83 {font-weight:bold;text-transform:uppercase;}
.en_x-tp_120_58_116_112 {font-weight:bold;text-decoration:underline;}
.at_x-tnr_120_58_116_110_114 {color:green;font-weight:bold;}
.en_x-mmg_120_58_109_109_103 {font-weight:bold;}
.en_x-tg_120_58_116_103 {font-weight:bold;}
.en_x-dg_120_58_100_103 {text-decoration:underline;}
.et_x-d_120_58_100 {color:green;font-style:italic;}
.en_x-xp_120_58_120_112 {text-decoration:underline;}
.en_x-xg_120_58_120_103 {text-decoration:underline;}
.et_x-x_120_58_120 {color:red;}
.en_x-xgrp_120_58_120_103_114_112 {text-decoration:underline;}
.en_x-xmfp_120_58_120_109_102_112 {text-decoration:underline;}
.en_x-xmvg_120_58_120_109_118_103 {text-decoration:underline;}
.en_x-xag_120_58_120_97_103 {text-decoration:underline;}
.en_x-xgri_120_58_120_103_114_105 {text-decoration:underline;}
.en_x-xdg_120_58_120_100_103 {text-decoration:underline;}
.en_x-np_120_58_110_112 {font-weight:bold;}
.en_x-ng_120_58_110_103 {text-decoration:underline;}
.et_x-n_120_58_110 {color:blue;}
.en_x-qnp_120_58_113_110_112 {text-decoration:underline;}
.at_x-ntnr_120_58_110_116_110_114 {color:green;}
.en_x-ndg_120_58_110_100_103 {text-decoration:underline;}
.et_x-nd_120_58_110_100 {color:green;font-style:italic;}
.en_x-qng_120_58_113_110_103 {text-decoration:underline;}
.et_x-qn_120_58_113_110 {color:red;}
.et_x-tvt_120_58_116_118_116 {color:darkorange;font-weight:bold;}
.en_x-LS_120_58_76_83 {font-weight:bold;text-decoration:underline;}
.en_x-lsdg_120_58_108_115_100_103 {font-weight:bold;}
.en_x-KOM_120_58_75_79_77 {font-weight:bold;text-transform:uppercase;}
.en_x-komg_120_58_107_111_109_103 {font-weight:bold;text-decoration:underline;}
.et_x-kom_120_58_107_111_109 {color:blue;font-weight:bold;}
.et_x-kaut_120_58_107_97_117_116 {font-size:x-small;}
.et_x-kaeg_120_58_107_97_101_103 {font-size:x-small;}
.en_x-I_120_58_73 {font-weight:bold;text-transform:uppercase;}
.et_x-G_120_58_71 {font-size:x-small;}
.et_x-K_120_58_75 {font-size:x-small;}
.et_x-KA_120_58_75_65 {font-size:x-small;}
.et_x-KL_120_58_75_76 {font-size:x-small;}
.et_x-T_120_58_84 {font-size:x-small;}
.et_x-TA_120_58_84_65 {font-size:x-small;}
.et_x-TL_120_58_84_76 {font-size:x-small;}
.et_x-X_120_58_88 {font-size:x-small;}
.et_x-XA_120_58_88_65 {font-size:x-small;}
